
    <%- include ('./include/header') %>
     
<div class="container">
    <div class='img-bg' style='margin-top:10px'>
        <div class='form-bg'>
            <h5 style='margin-bottom:20px'><%= edata.name %> Detail</h5>
            <span class="m-2- bg-warning"><%= success %></span>
        <form action="/students/editstudent/<%=edata.sid%>" method="POST" enctype="multipart/form-data">
            <div class='form-group'>
                <input class='form-control' name='name' type='text' value="<%= edata.name %>" placeholder='Enter student full name' required/>
            </div>
            <div class='form-group'>
                <input class='form-control' name='course' type='text' value="<%= edata.course %>" placeholder='Enter course' required/>
            </div>
            <div class='form-group'>
                <select class='form-control' name='level' required>
                    <option value="<%= edata.level %>"><%= edata.level %></option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                </select>   
            </div>
            <div class='form-group'>
                <select class='form-control' name='gender' required>
                    <option value="<%= edata.gender %>"><%= edata.gender %></option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class='form-group'>
                <input class='form-control' name='club' type='text' value="<%= edata.club %>" placeholder='Enter student club' required/>
            </div>
            <div class='form-group'>
                <select class='form-control' name='stdtype' required>
                    <option value="<%= edata.stdtype %>"><%= edata.stdtype %></option>
                    <option value="regular">Regular</option>
                    <option value="evening">Evening</option>
                    <option value="weekend">Weekend</option>
                </select>
            </div>
            <div class='form-group'>
                <img src="/uploads/<%=edata.img%>" width="40%" alt="">
                <input class='form-control' name='img' type='file'/>
            </div>
            <button style='float:right' type='submit' class='btn btn-secondary btn-md m-2'>Submit</button>
        </form>                   
</div>
</div>
</div>
        



    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    </body>
</html>